@charset "UTF-8";
	.table > thead > tr > th {
		background-color: #042c15;
	}
/* 		.add-class{
			min-width: 400px;
		}

	input.form-control:focus {
			border-color: #ccc;
			outline: none;
			box-shadow: none;
		}
		.add-author{
			min-width: 250px;
		}

		.input-group .btn:hover {
			background-color: #025727;
		}
		X > Y：表示選取X的子對象Y
		.table > thead > tr > th {
			background-color: #042c15;
			
		}
		.btn-add-novel{
			margin-top: 20px;
			color: #fff;
			background-color: #000;
			padding: 5px;
		}
		.btn-add-novel:hover {
			background-color: #025727;
		}

		model:新增小說
		.form-add-novel .btn+.btn {
			float: right;
		}

		.form-add-novel .btn:hover {
			color: #fff;
			background-color: #025727;
		}
		.form-add-novel {
			
			width: 80%;
			margin: 0px auto;
			padding-top: 30px;
			padding-bottom: 10px;
		}
		input.form-control:focus {
			border-color: #ccc;
			outline: none;
			box-shadow: none;
		}
		textarea.form-control{
			height: 300px;
			min-height: 300px;
			max-height: 300px;
			resize:none;
		}
		textarea.form-control:focus {
			border-color: #ccc;
			outline: none;
			box-shadow: none;
		}

		防止footer跑到上面
		.container{
			min-height: 70vh;
		} */
		